// Body
$body-bg: #f9fafb;

// Typography
$font-family-sans-serif: 'Sarabun', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

//$enable-gradients: true !default;

$font-weight-lighter: 200 !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: 800 !default;

$box-shadow-md: 0 .25rem .4rem rgba(#000, .10) !default;
